{% extends 'pages/base.html' %}

{% block category %}
  <h2>{{ post.title }}</h2>
  <p class="post_author">{{ post.author }}</p>
  <img src="{{ post.image }}" alt="" class="image"/><br><br>
  <p>{{post.description}}</p>
  
  <form method="POST" action="{% url 'comment' post_id=post.id author=user.username %}">
    {% csrf_token %}
    <label for="user_comment">comment</label>
    <input type="text" id="user_comment" name="user_comment">
    <button type="submit">POST</button>
  </form><br><br><br><br>

  <p></p>
  <p>{{ user_comment }}</p>
{% endblock %}
