{% extends 'pages/base.html' %} 
{% load static %}
{% block category %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% for health_post in health_posts %}
<div class="row post_row">
  <div class="col-xl-4 col-lg-4 col-md-4  justify-content-center align-items-center ">
    {% if health_post.image %}
    <img src="{{health_post.image}}" alt="" class="img" />
    {% else %}
    <img src="{% static 'img/img.png' %}" alt="" class="img"/>
    {% endif %}
  </div>
  <div class="col-xl-8 col-lg-8 col-md-8">
    <p id="p1">{{health_post.author}}</p>
    <a href="{% url 'detail' post_id=health_post.id %}">{{ health_post.title }}</a>
    <p>{{health_post.description }}...</p>
    <button>Reading</button>
  </div>
</div>
<hr>
{% endfor %} 
{% endblock %}
